.card-container .proclaimers {
    position: relative;
    flex-basis: 40%;
    overflow-y: scroll;
    border-top: 1px solid #f1f1f1;
    height: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    min-width: 350px;
}

.card-container .proclaimers .list {
    height: 100%;
    width: 100%;
}

.card-container .proclaimers .empty {
    box-sizing: border-box;
    padding: 50px;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    text-align: center;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

.card-container .proclaimers .proclaimer {
    position: relative;
    cursor: default;
    padding: 10px 13px;
    border-bottom: 1px solid #f1f1f1;
}

.card-container .proclaimers .proclaimer .fullname {
    margin-bottom: 8px;
}

.card-container .proclaimers .info {
    font-size: 13px;
    color: #7d7d7d;
    -webkit-font-smoothing: antialiased;
    text-transform: lowercase;
    margin-bottom: 8px
}

.card-container .proclaimers .proclaimer .period {
    font-size: 13px;
    font-style: italic;
    color: #b3b3b3;
    -webkit-font-smoothing: antialiased;
}

.card-container .proclaimers .proclaimer .period:hover {
    color: #333;
}

.card-container .proclaimers .proclaimer .label {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #63799c;
    color: #fff;
    padding: 3px 5px 2px;
    border-radius: 2px;
    font-size: 9px;
    text-transform: uppercase;
}

.card-container .proclaimers .more {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.card-container .proclaimers .more .icon {
    font-size: 40px;
}
