.map-container {
    position: relative;
    width: 100%;
    min-width: 400px;
    overflow: hidden;
    height: 100%;
    transition: height 100ms ease-in-out;
}

.active-card .map-container {
    width: 60%;
    height: auto;
}

.map-container .map {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.map-container .map .leaflet-bar {
    border-radius: 0;
    box-shadow: none;
}

.map .leaflet-bar a, .map .leaflet-bar a:hover {
    background-color: #31415D;
    border-bottom-color: rgba(255, 255, 255, 0.07);
    color: #fff;
    border-radius: 50%;
    margin-bottom: .5rem;
    /*box-shadow: 0 0 1px #333;*/
}

.map .leaflet-control-attribution a {
    display: none;
}

.map .leaflet-draw-toolbar-top a {
    background-color: #fff !important;
}