@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome-container {
    display: block !important;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
    background-color: black;
}

.welcome-container .grid-bg {
    /*noinspection CssUnknownTarget*/
    background: rgba(0, 17, 27, 0.85) url("../../resources/images/grid_tymphanus.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.welcome-container .video {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    animation: fadeIn ease-in 3s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

.welcome-container .greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    color: #fff;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    resize: vertical;
}

.welcome-container .message {
    font-size: 3rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.welcome-container .description {
    font-size: 2rem;
}

.welcome-container .button {
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: .8rem 3rem;
    color: #fff;
    top: 5rem;
    position: relative;
    border-radius: 1px;
}
